@import url('./mixins/mixin.less');

.@{tm-prefix}-composite-search-tags {
  &__tag {
    max-width: 100%;
    display: inline-flex;

    span {
      display: inline-block;
      flex-grow: 0;
      .tm-overflow-ellipsis();
    }
  }

  &__operation-tag {
    .tm-interactive();
    padding: 0px;
    background-color: transparent;
    color: @text-color-secondary;

    &:hover {
      color: @text-color-primary;
    }
  }
}
