@import url('./mixins/mixin.less');

.@{tm-prefix}-composite-search-filter-multiple {
  .@{prefix}-checkbox-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;

    .@{prefix}-checkbox {
      width: 100%;
      padding: @comp-paddingTB-xs @comp-paddingLR-l;

      &:hover {
        background-color: @bg-color-container-hover;
      }
    }
  }
}
