@import url('./mixins/mixin.less');

.tm-b(composite-search, {
  width: 460px;
  max-width: 100%;
  display: flex;

  .tm-e(popup, {
    .t-popup__content {
      padding: 0px;
    }
  });

  .tm-e(filter-pop-content-inner, {
    padding-top: @comp-paddingTB-s;
    padding-bottom: @comp-paddingTB-l;
  });

  .tm-e(search-label, {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px @comp-paddingLR-s;

    .tm-e(icon-search, {
      margin-right: 4px;
    });

    .tm-e(icon-down, {
      transition: all 0.2s ease-in-out;
      margin-left: 4px;
    });
  });

  .tm-e(search-input, {
    position: relative;

    .t-input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      padding-left: 0px;

      &:focus {
        box-shadow: none;
      }

      .t-input__prefix:not(:empty) {
        margin: 0px;
      }
    }

    .t-input--focused {
      box-shadow: none;
    }

    .t-popup {
      width: 100%;
    }
  });

  .tm-e(bottom-buttons, {
    padding: @comp-paddingTB-l @comp-paddingLR-l;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid @component-border;

    & > .t-button + .t-button {
      margin-left: @comp-margin-s;
    }
  });

  .tm-e(search-button, {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  });
});
