@import url('./mixins/mixin.less');

.@{tm-prefix}-composite-search-filter-single {
  .@{prefix}-radio-group {
    width: 100%;
    align-items: flex-start;
    row-gap: 0px;

    .@{prefix}-radio {
      width: 100%;
      margin-right: 0px;
      padding: @comp-paddingTB-xs @comp-paddingLR-l;

      &:hover {
        background-color: @bg-color-container-hover;
      }
    }
  }
}
