@import url('./mixins/mixin.less');

@tm-composite-search-width: 460px;

.@{tm-prefix}-composite-search {
  width: @tm-composite-search-width;
  max-width: 100%;
  display: flex;

  &__popup {
    .@{prefix}-popup__content {
      padding: 0px;
    }
  }

  &__filter-pop-content-inner {
    padding-top: @comp-paddingTB-s;
    padding-bottom: @comp-paddingTB-l;
  }

  &__search-label {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px @comp-paddingLR-s;
  }
  &__icon-search {
    margin-right: @comp-margin-xs;
  }
  &__icon-down {
    transition: all @anim-duration-base ease-in-out;
    margin-left: @comp-margin-xs;
  }

  &__search-input {
    position: relative;

    .@{prefix}-input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      padding-left: 0px;

      &:focus {
        box-shadow: none;
      }

      .@{prefix}-input__prefix:not(:empty) {
        margin: 0px;
      }
    }

    .@{prefix}-input--focused {
      box-shadow: none;
    }

    .@{prefix}-popup {
      width: 100%;
    }
  }

  &__bottom-buttons {
    padding: @comp-paddingTB-l @comp-paddingLR-l;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid @component-border;

    & > .@{prefix}-button + .@{prefix}-button {
      margin-left: @comp-margin-s;
    }
  }

  &__search-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
