// TODO 使用tdesign-vue-next的变量待解决
@import url('tdesign-vue-next/esm/common/style/web/_global.less');
@import url('tdesign-vue-next/esm/common/style/web/theme/_index.less');

@tm-prefix: ~'tm';
@tm-common-separator: ~'-';
@tm-element-separator: ~'__';
@tm-modifier-separator: ~'--';
@tm-state-prefix: ~'is-';
