@import url('./config.less');

// 交互效果
.tm-interactive(@cursor: pointer) {
  cursor: @cursor;
  user-select: none;
}

// 文本省略
.tm-overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 绝对定位居中
.tm-absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
